*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.logo{
    cursor: pointer;
    width: 4px 14px;
   /* height: 40px; */
   

}

.nav{
    width: auto;
    display: flex;
    padding: 0;
    background: #222;
    justify-content: space-between;
    align-items: center;
   

}

a{
    color:white;
    text-decoration: none;
}

.navbar{
    list-style: none;
    flex-direction: row;
}
.navbar li
{
    /* background-color: white; */
    display: flex;
    width: 120px;
    text-transform: uppercase;
    justify-content: space-between;
   /* padding: 0 15px; */
}

.navbar li a:hover{
    background-color: aqua;
    text-decoration: none;
    
}

#timecountDown{
    display: inline-block;
    font-size: 2em;
    color: white;
    background-color: black;
    padding: 30px;
}

.banner .jumbotron{
    background-image: url(../img/banner-bk.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -100px;
    height: 700px;
}

.banner .jumbotron h1{
    text-shadow: 1px 1px 10px rgba(0,0,0,0,5);
}

.navbar-burger{
  display: none;
}

/* mobile version */
@media (max-width: 576px) { 
    .navbar-right{
      display: none;
    }  
  .logo{
    cursor: pointer;
    /* width: 4px 14px; */
    /* height: 40px; */
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .nav{
    display: flex;
    justify-content: space-between;
    /* margin-left: -50px; */
    /* padding-top: 15px; */
    height: 50px;
    width: 96.5%;
    padding: 0 30px;
  }
  
  .navbar-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
  }
  .navbar-burger span{
    height: 2px;
    width: 30px;
    background-color: rosybrown;
     display: inline-block;
  }

}

}